<!DOCTYPE html>
<html>
<head>
  <title>GitCurious</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <%= render "navbar" %>
  <%= yield %>
  <%= render "footer" %>
</body>
</html>
